#logo-merp {
  position: fixed;
  right: 10px;
  top: 5px;
  text-shadow: 10px 10px white;
  z-index:1;
  transform: scale(1.01) translate(-50%, -50%);
  -webkit-transform: scale(1.01) translate(-50%, -50%);
  filter: brightness(0) invert(1) blur(5px);
  -webkit-filter: brightness(0) invert(1) blur(5px);
  opacity:0;
}


.main-header {max-height: 300px}
navbar {min-height: 300px}
body {padding-top: 70px;}

img.glow {

}